<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  
  <body>
    <div class="min-vw-100" id="particles-js">
      <div class="min-vh-100">
          <nav class="navbar navbar-light" style="background-color: #0a3553;">
              <div class="container">
                <a class="navbar-brand mx-auto" href="#">
                  <img src="assets/company_logo.png" alt="" width="200" height="47">
                </a>
              </div>
          </nav>

          <div class="form-group text-center"><br><br><br>
            <button type="button" class="btn btn-dark" routerLink="/pdf-reader" style="background-color: #0a3553; border: none;">PDF Reader </button>
            &nbsp;
            <button type="button" class="btn btn-dark" routerLink="/qr-reader" style="background-color: #0a3553; border: none;">QR Reader</button>
          </div>
          <br><br><br>

          <div class="container" style=" display: flex; justify-content: center"><br><br><br>
            <div class="w-75 p-3">
              <main [@routeAnimations]="prepareRoute(outlet)" class="content">
                <router-outlet #outlet="outlet"></router-outlet>
              </main>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>